// .week-times:active {
//     background-color: red;
// }

// .week-times:active:hover {
//     background-color: red;
// }

.selected {
    background-color: red;
}

#week td:not(.week-times) {
    user-select: none;
}

#week {
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
}

#week td, #week th {
    margin: 0 auto;
    border: 1px solid black;
    padding: 0.5rem;
}

.week-times {
    width: 1.5rem;
}

.times {
    text-align: right;
}

#submit, #reset {
    padding: 0.75rem 2rem;
    background-color: #fff;
    box-shadow: none;
    text-shadow: none;
    border: 1px solid black;
    margin: 20px;

}